body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(3, 3, 3);
}
.ul{
    padding: 0px !important;
}
.menu{
    width: 100%;
    background-color: rgb(12, 160, 110);
    height: 45px;
}
.main{
    margin: auto;
    width: 1080px;
    position: relative;
}
.logo{
    float: left;
    padding: 0px;
    width: 90%;
}.media ul li{
    display: inline-block;
    width: 15px;
    float: right;
    padding: 10px;
    margin: 5px;
}
.header-1{
    background-color: rgb(168, 168, 60);
    width: 1080px;
    margin: 0 auto;
    padding: 0px;
}
.menu-urls{
    border-bottom: rgb(98, 116, 23);
    height: 45px;
}
.menu-1 ul li{
    display: inline-block;
    color: rgb(44, 139, 139);
    margin: 30px;
}
.menu-1 ul li :hover{
    border-bottom: 3px rgb(59, 59, 25);
    color: rgb(53, 53, 30);
}
.menu-1 ul li :hover{
    color: rgb(98, 116, 23);
    border-bottom: 3px solid rgb(98, 116, 23);
}
.menu-1{
    width: 70%;
    float: left;
}
.busca{
    width: 20;
    float: right;
    text-align: center;
}
.busca input{
    background-image: url(../img/buscador2.png);
    background-repeat: no-repeat;
    background-position: 99%;
    margin-top: 30px;
    padding: 2px;
    width: 195px;px;
    border: 2px solid rgb(98, 116, 23);
    height: 22px;
}


