@charset "UTF-8";
body{
    background-color: rgb(233, 232, 162);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h2{
    color: rgb(180, 64, 11);
    background-color: rgb(230, 149, 28);
}
h3{
    color: rgba(235, 64, 21, 0.753);
    background-color: rgb(233, 232, 162);
}
p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}