@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */ 
}
p{
    text-align: justify;
}
body{
    /* a tag background image serve para criar gradiente */
    background-image:linear-gradient(to left, #189BB5, #10CCB9, #10C27D)
}
main{
    /* a tag background-color serve para criar cor numa determinada área delimitada */
    background-color: aliceblue;
    /* a tag width serve para dar a largura */
    width: 600px;
    /* a tag padding serve para dar robustes a um elemento */
    padding: 10px;
    /* a tag margin serve para dar espaçamento no início de um elemento  */
    margin: auto;
     /* a tag order-radius serve para criar a borda circular num rectâgulo  */
    border-radius: 15px;
      /* a tag  box-shadow serve para dar sombra num elemento */
    box-shadow: 8px 8px 15px  #088ea8;
    background-position: auto;
}
h1{
    color: #107BCC;
    text-align: center;
    box-shadow: 0,5px 5px 3px #107BCC;
}
h2{
    color: #10C27D;

}