body {
    width: 100%;
    width: 100%;
}
.menu-principal {
    width: 100%;
    background-color: rgb(245, 8, 8);
    height: 35px;
}
main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    padding: 0.4%;
    width: 80%;
    list-style: nome;
}
.redes-sociais ul li {
    margin-left: 15;
    float: left;
    display: inline-block;
    width: 20%;
.redes-sociais {

}

}