@charset "UTF-F8";

/* A TAG @import url() SERVE PARA IMPORTAR FONTES NA WEB*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Cormorant+Garamond:wght@300&family=Holtwood+One+SC&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:wght@300&family=Oswald:wght@600&family=PT+Sans+Caption&family=Quintessential&family=Righteous&family=Roboto+Condensed:wght@300&family=Signika&family=Slabo+27px&family=Source+Sans+Pro:wght@300&family=Train+One&display=swap');

/* A TAG @font-face SERVE PARA IMPORTAR FONTES QUE ESTEJAM DENTRO DA PASTA QUE SE ENCONTRO O ARQUIVO DO HTML*/

@font-face {
    font-family:'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/* A TAG ROOT SERVE PARA CRIAR VARIÁVEIS AO PROJECTO DE MODO A FACILITAR O USO DE UMA DELAS NO PROJECTO */


:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android', cursive; 

}

/* ESTA TAG SERVE PARA NORMALIZAR EM SIMULTANEO TODAS AS TAGS QUE SE ENCONTRAM NO PROJECTO. COMO EXEMPLO BASTA DAR UMA VISTA DE OLHO A NAS TAGS QUE USARAM VARIÁVEIS */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
       
}

a.externo::after{
    content: '\00A0\1F517';
} 

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
    overflow-y: hidden;
}
       
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em; 
    text-align: center; 
}

header > p{
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 450px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);
    margin-bottom: 20px;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.39);
    padding-left: 10px;
    padding-bottom: 10px;
}
nav > a{
    color: var(--cor1);
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    
    transition-duration: 0.5s;
}

nav :hover{
    color: white;
    background-color: var(--cor3);
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.445);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.4em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 8px;   
}

main p{
    margin: 15px 0px;
    text-align: justify;
    /* A TAG text-indent  SERVE PARA ABRIR UM PARÁGRAFO */
    text-indent: 30px;
    line-height: 1.5em;    
}

main strong{
    color: var(--cor5);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor3);
}

main a :hover{
    text-decoration: underline;
    color: var(--cor5);
    background-color: var(--cor1);
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;  
}

div.video{
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;   
    position: relative;
}

div.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.397);
}

aside > ul{
    /* O CODIGO (2714) QUE ESTA NA TAG list-style-type FOI PEGUE NA EMOJI PEDIA. O CÓDIGO ASSEGUIR SERVE PARA DAR ESPAÇAMENTO DO SIMBOLO DE LISTA COM O CONTEÚDO */ 

    /* A TAG columns SERVE PARA DIVIDIR A TELA E COLUNAS. PAR SE DAR O NÚMERO DE COLUNAS BASTA ESCREVER UM NÚMERO SEM UNIDADE. */
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;

}
aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}


footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer > a :hover{
    text-decoration: underline;
    color: var(--cor2);

}



