*{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-color: bisque;
    text-align: center;
}
.tema{
    color: rgb(136, 136, 136);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}
div p {
    display: none;
}
div:hover p{
    display: block;
}
div:hover{
    color: red;
    text-align: ;
}
.corpo{
    width: 25%;
    height: 25%;
    margin-left: 500px;  
}
#texto{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(119, 103, 83);
}